body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: white;
    padding: 1rem 0;
}

header .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

header .content h1 {
    margin: 0;
}

header .content a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

header .content a:hover{
    background-color: #404040;
}

header .content a:visited{
    background-color: white;
}

main{
    width: 800px;
    margin: 4rem auto 0 auto;
}

@media (max-width: 800px){
    main{
        width: 100%;
        margin: 4rem 0 0 0;
    }   
    
}

section.users{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.users h2{
    font-size: 1.5rem;
    color: #202020;
}

.users table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.users th{
    background-color: #904dd8;
    color: white;
}

.users th, td{
    padding: 0.5rem 1rem;
    border-top: 1px solid #ddd;
}

.users td{
    color: #202020;
}

.users tr:nth-child(even) {
    background-color: #f2f2f2;
}