<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" th:href="@{/css/adminpanel.css}">
  <link rel="stylesheet" href="../static/css/adminpanel.css">
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const user = document.getElementById("user");
      const username = document.getElementById("username");
      const logout = document.getElementById("logout");

      user.addEventListener('mouseenter', function() {
        username.classList.add("hide");
        logout.classList.remove("hide");
      });

      user.addEventListener('mouseleave', function() {
        username.classList.remove("hide");
        logout.classList.add("hide");
      });
    });
  </script>
</head>
<body>
  <header>
    <section class="content">
      <h1>Panel Admin</h1>
      <div id="user" class="user">
        <p th:text="${username}" id="username"></p>
        <a id="logout" class="hide" href="/logout">Cerrar sesión</a>
      </div>
    </section>
  </header>
  <main>
    <section class="users">
      <h2>Usuarios</h2>
      <table>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Contraseña</th>
          <th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.password}"></td>
          <td th:text="${user.role}"></td>
        </tr>
      </table>
    </section>
  </main>
</body>
</html>
