<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin</title>
  <link rel="stylesheet" th:href="@{/css/adminpanel.css}">
</head>
<body>
<h2>Usuarios</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Contraseña</th>
    <th>Role</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.role}"></td>
  </tr>
</table>
</body>
</html>
