<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Catálogo</title>
  <link rel="stylesheet" th:href="@{/css/articles.css}">
  <link rel="stylesheet" href="../static/css/articles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_left,chevron_right" />
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const featuredCarousel = document.querySelector(".featured-articles .articles-carousel");
      const prevBtn = document.querySelector(".featured-articles .previous");
      const nextBtn = document.querySelector(".featured-articles .next");

      nextBtn.addEventListener("click", () => {
          featuredCarousel.scrollBy({ left: 275, behavior: "smooth" }); // Mueve a la derecha
      });

      prevBtn.addEventListener("click", () => {
          featuredCarousel.scrollBy({ left: -275, behavior: "smooth" }); // Mueve a la izquierda
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const featuredCarousel = document.querySelector(".new-articles .articles-carousel");
      const prevBtn = document.querySelector(".new-articles .previous");
      const nextBtn = document.querySelector(".new-articles .next");

      nextBtn.addEventListener("click", () => {
          featuredCarousel.scrollBy({ left: 275, behavior: "smooth" }); // Mueve a la derecha
      });

      prevBtn.addEventListener("click", () => {
          featuredCarousel.scrollBy({ left: -275, behavior: "smooth" }); // Mueve a la izquierda
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const user = document.getElementById("user");
      const username = document.getElementById("username");
      const logout = document.getElementById("logout");

      user.addEventListener('mouseenter', function() {
        username.classList.add("hide");
        logout.classList.remove("hide");
      });

      user.addEventListener('mouseleave', function() {
        username.classList.remove("hide");
        logout.classList.add("hide");
      });
    });
  </script>
</head>
<body>
  <header>
    <section class="content">
      <h1>Catálogo</h1>
      <div id="user" class="user">
        <p th:text="${username}" id="username"></p>
        <a id="logout" class="hide" href="/logout">Cerrar sesión</a>
      </div>
    </section>
  </header>
  <main>
    <section class="featured-articles">
      <h2>Destacados</h2>
      <div class="articles">
        <div class="button-container">
          <div class="previous button">
            <span class="material-symbols-outlined icon">chevron_left</span>
          </div>
        </div>

        <div class="articles-carousel">
          <div th:each="article : ${featured_articles}" class="article-card">
            <img th:src="@{'https://tiendafleming.es/images/articles/' + ${article.codebar} + '.webp'}" alt="Imagen del artículo">
            <div class="article-info">
              <p th:text="${article.detalle}" class="detalle"></p>
              <p th:text="'Ref: ' + ${article.ref}" class="ref"></p>
              <p th:text="${article.pvp} + ' €'" class="pvp"></p>
            </div>
            <button class="buy-button">Comprar</button>
          </div>
        </div>
        
        <div class="button-container">
          <div class="next button">
            <span class="material-symbols-outlined icon">chevron_right</span>
          </div>
        </div>
      </div>
    </section>

    <section class="new-articles">
      <h2>Novedades</h2>
      <div class="articles">
        <div class="button-container">
          <div class="previous button">
            <span class="material-symbols-outlined icon">chevron_left</span>
          </div>
        </div>

        <div class="articles-carousel">
          <div th:each="article : ${new_articles}" class="article-card">
            <img th:src="@{'https://tiendafleming.es/images/articles/' + ${article.codebar} + '.webp'}" alt="Imagen del artículo">
            <div class="article-info">
              <p th:text="${article.detalle}" class="detalle"></p>
              <p th:text="'Ref: ' + ${article.ref}" class="ref"></p>
              <p th:text="${article.pvp} + ' €'" class="pvp"></p>
            </div>
            <button class="buy-button">Comprar</button>
          </div>
        </div>
        
        <div class="button-container">
          <div class="next button">
            <span class="material-symbols-outlined icon">chevron_right</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
