<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <section>
        <form action="register" method="post">
            <div class="f-group username">
                <label>Usuario</label>
                <input type="text" name="username" placeholder="Introduce tu usuario">
            </div>
            <div class="f-group password">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Introduce tu contraseña">
            </div>
            <div class="f-group r-password">
                <label>Repetir Contraseña</label>
                <input type="password" name="r_password" placeholder="Repite tu contraseña">
            </div>
            <div class="info">
                <span th:text="${e_message}"></span>
            </div>
            <input type="submit" value="Registrarme">
        </form>
        <div class="to-login">
            <p>¿Ya tienes cuenta?</p>
            <a href="/login">Inicia sesión</a>
        </div>
    </section>
   
</body>
</html>